<!-- Page Content -->
<div class="container">

    <div class="center hero-unit">
      <h1>Добро пожаловать на FFS Data Base!</h1>

      <h2>
        Вы находитесь на главной странице приложения. Для добавления данных
        воспользуйтесь навигационным меню </h2><br>
        <%= link_to image_tag("logo.png", alt: "Rails"), '/' %><br>
        <br>
      </h2>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
